@media (max-width: 767px){
  .container-fluid {
    padding: 0 40px;
  }
  body{
    font-size: 10px;
  }

}
@media (min-width: 768px) and(max-width: 991px){
  .container-fluid {
    padding: 0 70px;
  }

}

@media (min-width: 768px) and(max-width: 991px) and (orientation: landscape){
  .container-fluid {
    padding: 0 70px;
  }


}
@media (min-width: 992px) and (max-width: 1199px){
  .container-fluid {
    padding: 0 133px;
  }


}
@media (min-width: 1200px) and (max-width: 1499){
  .container-fluid {
    padding: 0 233px;
  }
  .header .row:nth-child(2) {
    height: 60vh;
  }
  .header .row:nth-child(2) .name {
    font-size: 66px;
    line-height: 80px;
  }
  .cor-img {
    height: 65vh;
  }
}
@media (min-width: 1500px) {
  .container-fluid {
    padding: 0 233px;
  }
  .header .row:nth-child(2) .name {
    font-size: 90px;
    line-height: 91px;
  }
  .cor-img {
    height: 90vh;
  }
  .header .row:nth-child(2) {
    height: 60vh;
  }
  header{
    height: 100vh;
  }
  .block4{
    height: auto;
  }
  .block4 form input {
    width: 400px;
  }

}
